# Lecture 3: Python Basics II

<h2>Outline<span class="tocSkip"></span></h2>
<hr>
<div class="toc"><ul class="toc-item">   
    <li><span><a href="#1.-Basic-Python-Data-Types" data-toc-modified-id="1.-Basic-Python-Data-Types-1">1. Basic Python Data Types</a></span></li>
    <li><span><a href="#2.-Lists-and-Tuples" data-toc-modified-id="2.-Lists-and-Tuples-2">2. Lists and Tuples</a></span></li>    
    <li><span><a href="#3.-Dictionaries" data-toc-modified-id="3.-Dictionaries-3">3. Dictionaries</a></span></li>
    <li><span><a href="#4.-Conditionals" data-toc-modified-id="4.-Conditionals-4">4. Conditionals</a></span></li></ul></div>

## Learning Objectives
<hr>

- Create, describe and differentiate standard Python datatypes such as `int`, `float`, `string`, `list`, `dict`, `tuple`, etc.
- Assign, index, slice and subset values to and from tuples, lists, strings and dictionaries.
- Write a conditional statement with `if`, `elif` and `else`.
- Identify code blocks by levels of indentation.
- Explain the difference between mutable objects like a `list` and immutable objects like a `tuple`.

## 1. Basic Python Data Types
<hr>

### Common built-in Python data types

| English name          | Type name  | Type Category  | Description                                   | Example                                    |
| :-------------------- | :--------- | :------------- | :-------------------------------------------- | :----------------------------------------- |
| integer               | `int`      | Numeric Type   | positive/negative whole numbers               | `42`                                       |
| floating point number | `float`    | Numeric Type   | real number in decimal form                   | `3.14159`                                  |
| boolean               | `bool`     | Boolean Values | true or false                                 | `True`                                     |
| string                | `str`      | Sequence Type  | text                                          | `"I Can Has Cheezburger?"`                 |
| list                  | `list`     | Sequence Type  | a collection of objects - mutable & ordered   | `['Ali', 'Xinyi', 'Miriam']`               |
| tuple                 | `tuple`    | Sequence Type  | a collection of objects - immutable & ordered | `('Thursday', 6, 9, 2018)`                 |
| dictionary            | `dict`     | Mapping Type   | mapping of key-value pairs                    | `{'name':'DSCI', 'code':511, 'credits':2}` |
| none                  | `NoneType` | Null Object    | represents no value                           | `None`                                     |

### None

`NoneType` is its own type in Python. It only has one possible value, `None` - it represents an object with no value. We'll see it again in a later chapter.

In [4]:
x = None

In [5]:
print(x)

None

In [6]:
type(x)

NoneType

In [7]:
your_name = input("What is your name?")

What is your name? John

In [8]:
your_name

'John'

In [9]:
type(your_name)

str

In [10]:
course = input("What course are you taking now? ")

What course are you taking now?  DATA3320

In [11]:
course

'DATA3320'

In [12]:
type(course)

str

In [29]:
sentence = input("Please write a sentence: ")

Please write a sentence:  Hello, World.

In [30]:
type(sentence)

str

### Casting

Sometimes we need to explicitly **cast** a value from one type to another. We can do this using functions like `str()`, `int()`, and `float()`. Python tries to do the conversion, or throws an error if it can't.

In [19]:
x = input("Please provide one integer: ")
type(x)

Please provide one integer:  123

str

In [22]:
print(int(x))
type(x)

123

str

In [23]:
x

'123'

In [24]:
x = str(5.0)
x

'5.0'

In [25]:
type(x)

str

In [26]:
str(5.0) == 5.0

False

In [27]:
int(5.3)

5

In [28]:
float("hello")

ValueError: could not convert string to float: 'hello'

## 2. Lists and Tuples
<hr>

Lists and tuples allow us to store multiple things ("elements") in a single object. The elements are _ordered_ (we'll explore what that means a little later). We'll start with lists. Lists are defined with square brackets `[]`.

In [31]:
my_list = [1, 2, "THREE", 4, 0.5]

In [32]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [33]:
type(my_list)

list

Lists can hold any datatype - even other lists!

In [34]:
another_list = [1, "two", [3, 4, "five"], True, None, {"key": "value"}]
another_list

[1, 'two', [3, 4, 'five'], True, None, {'key': 'value'}]

You can get the length of the list with the function `len()`:

In [35]:
len(my_list)

5

Tuples look similar to lists but have a key difference (they are immutable - but more on that a bit later). They are defined with parentheses `()`.

In [36]:
today = (1, 2, "THREE", 4, 0.5)

In [37]:
today

(1, 2, 'THREE', 4, 0.5)

In [38]:
type(today)

tuple

In [39]:
len(today)

5

In [93]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [94]:
tup = 4, 5, 6
tup

(4, 5, 6)

### Indexing and Slicing Sequences

We can access values inside a list, tuple, or string using square bracket syntax. Python uses *zero-based indexing*, which means the first element of the list is in position 0, not position 1.

In [40]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [41]:
my_list[0]

1

In [42]:
my_list[2]

'THREE'

In [43]:
len(my_list)

5

In [44]:
my_list[5]

IndexError: list index out of range

We can use negative indices to count backwards from the end of the list.

In [45]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [46]:
my_list[-1]

0.5

In [47]:
my_list[-2]

4

We can use the colon `:` to access a sub-sequence. This is called "slicing".

In [48]:
my_list[1:3]

[2, 'THREE']

Note from the above that the start of the slice is inclusive and the end is exclusive. So `my_list[1:3]` fetches elements 1 and 2, but not 3.

Strings behave the same as lists and tuples when it comes to indexing and slicing. Remember, we think of them as a *sequence* of characters.

In [49]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [50]:
alphabet[0]

'a'

In [51]:
alphabet[-1]

'z'

In [52]:
alphabet[-3]

'x'

In [53]:
alphabet[:5]

'abcde'

In [54]:
alphabet[12:20]

'mnopqrst'

In [95]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [96]:
tup[0]

's'

In [97]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0]
nested_tup[1]

(7, 8)

In [98]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [100]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [101]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

### List Methods

A list is an object and it has methods for interacting with its data. A method is like a function, it performs some operation with the data, but a method differs to a function in that it is defined on the object itself and accessed using a period `.`. For example, `my_list.append(item)` appends an item to the end of the list called `my_list`. You can see the documentation for more [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [55]:
primes = [2, 3, 5, 7, 11]
primes

[2, 3, 5, 7, 11]

In [56]:
len(primes)

5

In [57]:
primes.append(13)

In [58]:
primes

[2, 3, 5, 7, 11, 13]

### Sets

Another built-in Python data type is the `set`, which stores an _un-ordered_ list of _unique_ items. Being unordered, sets do not record element position or order of insertion and so do not support indexing.

In [59]:
s = {2, 3, 5, 11}
s

{2, 3, 5, 11}

In [60]:
{1, 2, 3} == {3, 2, 1}

True

In [61]:
[1, 2, 3] == [3, 2, 1]

False

In [62]:
s.add(2)  # does nothing
s

{2, 3, 5, 11}

In [63]:
s[0]

TypeError: 'set' object is not subscriptable

Above: throws an error because elements are not ordered and can't be indexing.

### Mutable vs. Immutable Types

Strings and tuples are immutable types which means they can't be modified. Lists are mutable and we can assign new values for its various entries. This is the main difference between lists and tuples.

In [68]:
names_list = ["Indiana", "Fang", "Linsey"]
names_list

['Indiana', 'Fang', 'Linsey']

In [69]:
names_list[0] = "Cool guy"
names_list

['Cool guy', 'Fang', 'Linsey']

In [70]:
names_tuple = ("Indiana", "Fang", "Linsey")
names_tuple

('Indiana', 'Fang', 'Linsey')

In [71]:
names_tuple[0] = "Not cool guy"

TypeError: 'tuple' object does not support item assignment

Same goes for strings. Once defined we cannot modifiy the characters of the string.

In [72]:
my_name = "Tom"

In [73]:
my_name[-1] = "q"

TypeError: 'str' object does not support item assignment

In [74]:
x = ([1, 2, 3], 5)

In [75]:
x[1] = 7

TypeError: 'tuple' object does not support item assignment

In [79]:
x

([1, 4, 3], 5)

In [80]:
x[0][1] = 4

In [81]:
x

([1, 4, 3], 5)

In [102]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

## 3. Dictionaries
<hr>

A dictionary is a mapping between key-values pairs and is defined with curly-brackets:

In [131]:
house = {
    "bedrooms": 3,
    "bathrooms": 2,
    "city": "Vancouver",
    "price": 2499999,
    "date_sold": (1, 3, 2015),
}

condo = {
    "bedrooms": 2,
    "bathrooms": 1,
    "city": "Burnaby",
    "price": 699999,
    "date_sold": (27, 8, 2011),
}

We can access a specific field of a dictionary with square brackets:

In [132]:
house["price"]

2499999

In [133]:
condo["city"]

'Burnaby'

We can also edit dictionaries (they are mutable):

In [134]:
condo["price"] = 5  # price already in the dict
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011)}

In [135]:
condo["flooring"] = "wood"

In [136]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

We can also delete fields entirely (though I rarely use this):

In [138]:
del condo["city"]

KeyError: 'city'

In [139]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

And we can easily add fields:

In [140]:
condo[5] = 443345

In [141]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345}

Keys may be any immutable data type, even a `tuple`!

In [142]:
condo[(1, 2, 3)] = 777
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345,
 (1, 2, 3): 777}

You'll get an error if you try to access a non-existent key:

In [143]:
condo["not-here"]

KeyError: 'not-here'

#### Empties

Sometimes you'll want to create empty objects that will be filled later on.

In [144]:
lst = list()  # empty list
lst

[]

In [145]:
lst = []  # empty list
lst

[]

There's no real difference between the two methods above, `[]` is apparently [marginally faster](https://stackoverflow.com/questions/2972212/creating-an-empty-list-in-python)...

In [146]:
tup = tuple()  # empty tuple
tup

()

In [147]:
tup = ()  # empty tuple
tup

()

In [148]:
dic = dict()  # empty dict
dic

{}

In [149]:
dic = {}  # empty dict
dic

{}

In [150]:
st = set()  # empty set
st

set()

## 4. Conditionals
<hr>

[Conditional statements](https://docs.python.org/3/tutorial/controlflow.html) allow us to write programs where only certain blocks of code are executed depending on the state of the program. Let's look at some examples and take note of the keywords, syntax and indentation.

In [87]:
name = input("What is your name? ")

if name.lower() == "john":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name!")
print("Nice to meet you!")

What is your name?  Dong

Hello Dong! That's a cool name!
Nice to meet you!

The main points to notice:
- Use keywords `if`, `elif` and `else`
- The colon `:` ends each conditional expression
- Indentation (by 4 empty space) defines code blocks
- In an `if` statement, the first block whose conditional statement returns `True` is executed and the program exits the `if` block
- `if` statements don't necessarily need `elif` or `else`
- `elif` lets us check several conditions
- `else` lets us evaluate a default block if all other conditions are `False`
- the end of the entire `if` statement is where the indentation returns to the same level as the first `if` keyword

In [88]:
word = input("Please write a word: ")

if len(word) > 10:
    x = "long list"
else:
    x = "short list"

Please write a word:  long

In [89]:
x

'short list'